* {
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

header{
    height:5%;
    background-color: rgb(94, 36, 255);
    position: relative;
    border-bottom: 0.3em solid black;
}

footer{
    height: 5%;
    background-color: black;
}

header h4{
    color: white;
    position: absolute;
    top: 25%;
    left: 25px;
}

.flexbox {
    height: 90%;
}

.flexbox > div{
    padding: 30px 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: center;
    height: 100%;
    background-color:rgb(255, 187, 0);
    overflow: scroll;
}

.challenges {
    border-radius: 4px;
    width: 400px;
    height: 400px;
    margin-bottom: 30px;
    overflow: hidden;
    background-color: black;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
}

// 1 ---------------------------------------------------------------

#first {
    position: relative;
    background-color: white;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    // transform: rotate, matrix, scale, skew
}

// Variables Menu Icon
$icon-line-height: 8px;
$icon-line-space: 14px;
$icon-line-OffsetY: $icon-line-height + $icon-line-space;
$menu-icon-height: (3*$icon-line-height) + (2*$icon-line-space);
$cubic-bezier-in: cubic-bezier(0.30,1,0.70,1);
$cubic-bezier-out: cubic-bezier(1,0.70,1,0.30);

.menu-icon{
    width: 80px;
    height: $menu-icon-height;
    cursor: pointer;
    z-index: 50;
   
    .line-1,
    .line-2,
    .line-3 {
        height: $icon-line-height;
        width: 100%;
        background-color: rgb(41, 45, 49);
        border-radius: 3px;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
        transition: background-color .2s ease-in-out;
    }

    .line-1 {
        //animation is shorthand property of: animation - name, duration, timing, delay, iteration count, direction, fill-mode, play-state;
        animation: animate-line-1-rev .7s ease-in-out; 
    }

    .line-2 {
        margin: $icon-line-space 0;
        animation: animate-line-2-rev .7s ease-in-out;
    }

    .line-3{
        animation: animate-line-3-rev .7s ease-in-out;
    }



    //hover state for menu icon;
    &:hover{
        .line-1,
        .line-2,
        .line-3 {
            background-color: rgb(177, 43, 255);
        }
    }

    //active state for menu icon;
    &.active {
        .line-1,
        .line-2,
        .line-3 {
            background-color: blue;
        }

        .line-1{
            animation: animate-line-1 .7s $cubic-bezier-in forwards;
        }
        .line-2{
            animation: animate-line-2 .7s $cubic-bezier-in forwards;
        }
        .line-3{
            animation: animate-line-3 .7s $cubic-bezier-in forwards;
        }
    } 
}

.no-animation {
    animation: none !important;
}

@keyframes animate-line-1 {
    0% {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }

    50% {
        transform: translate3d(0, $icon-line-OffsetY, 0) rotate(0deg);
    }

    100% {
        transform: translate3d(0, $icon-line-OffsetY, 0) rotate(45deg);
    }
}

@keyframes animate-line-2 {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes animate-line-3 {
    0% {
        transform: translate3d(0, 0, 0) rotate(0);
    }

    50% {
        transform: translate3d(0, -$icon-line-OffsetY, 0) rotate(0);
    }

    100% {
        transform: translate3d(0, -$icon-line-OffsetY, 0) rotate(135deg);
    }
}

@keyframes animate-line-1-rev {
    0% {
        transform: translate3d(0, $icon-line-OffsetY, 0) rotate(45deg);
    }

    50% {
        transform: translate3d(0, $icon-line-OffsetY, 0) rotate(0deg);
    }

    100% {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
}

@keyframes animate-line-2-rev {
    0% {  
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes animate-line-3-rev {
    0% {
        transform: translate3d(0, -$icon-line-OffsetY, 0) rotate(135deg);
    }

    50% {
        transform: translate3d(0, -$icon-line-OffsetY, 0) rotate(0);
    }

    100% {
        transform: translate3d(0, 0, 0) rotate(0);
    }
}



// 2 ---------------------------------------------------------------


#second {
    position: relative;
    background-color: rgb(103, 194, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    // overflow: hidden;
}

.quote {
    margin-top: 120px;
    padding: 0 30px;
    

    &::before{
        display: block;
        position: absolute;
        top: 40px;
        left: 7px;
        color: rgba(255, 255, 255, 0.253);
        font-family: Arial;
        content: '„';
        font-size: 250px;
        line-height: 35px;
    }

    p {
        font-size: 25px;
        font-weight: 300;
        color: white;
    }

    .author{
        font-weight: lighter;
        font-style: italic;
        font-size: 20px;
        line-height: 100px;
    }

    .highlight {
        display: inline-block;
        position: relative;
        padding: 0 10px 5px 10px;
        margin-top: 5px;
        background: #286F8A;
        cursor: pointer;

        &:hover .info,
        &:focus .info{
            visibility: visible;
            transform: translate3d(0,0,0);
            opacity: 1;
        }
    }
    .info{
        position: absolute;
        bottom: 53px;
        left: -85px;
        display: block;
        width: 300px;
        background: #286F8A;
        font-size: 18px;
        visibility: hidden;
        transition: all .5s ease-out;
        transform: translate3d(0,-20px,0);
        opacity: 0;

        &:after{
            position: absolute;
            content: " ";
            display: block;
            width: 15px;
            height: 15px;
            background-color: #286F8A;
            transform: rotate(45deg);
            bottom: -5px;
            margin-left: -10px;
            left: 50%;
        }

        .pronounce {
            display: block;
            background-color: #fff;
            color: #286F8A;
            padding: 10px 20px 10px 17px;
            font-size: 16px;
            line-height: 16px;

            .fa{
                position: relative;
                margin-left: 10px;
                top: 1px;
                cursor: pointer;
                transition: all .2s ease-out;

                &:hover {
                    transform: scale(1.15) translate3d(0,0,0);
                    backface-visibility: none;
                }
            }
        }

        .text {
            letter-spacing: .7px;
            font-size: 18px;
            font-weight: lighter;
            line-height: 20px;
            display: block;
            padding: 15px 15px;
        }


    }
}

// 3 ----------------------------------------------------

#third {
    background-color: rgb(92, 98, 105);
}

.container{
    position: relative;
    width: 100%;
    height: 100%;

    // remeber to enable 3D in parent container, & set the perspective;
    transform: perspective(100px);
    transform-style: preserve-3d;

    .window {
        position: absolute;
        width: 135px;
        height: 120px;
        top: 130px;
        left: 130px;
        border-radius: 4px;
        box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.233);
        overflow: hidden;

        .titlebar {
            width:100%;
            height: 25px;
            background-color: orange;
            border-bottom: solid .5px rgba(133, 133, 133, 0.568);
        }

        .txtzone {
            height: calc(100% - 25px);
            background-color: white;
            padding-top: 15px;
            padding-left: 15px;

            .line1 {
                width: 90px;
                height: 4px;
                margin-bottom: 5px;
                background-color: rgb(202, 206, 214);
            }

            .line2 {
                width: 80px;
                height: 4px;
                margin-bottom: 5px;
                background-color: rgb(202, 206, 214);
            }

            .line3 {
                width: 100px;
                height: 4px;
                margin-bottom: 5px;
                background-color: rgb(202, 206, 214);
            }

            .line4 {
                width: 70px;
                height: 4px;
                margin-bottom: 5px;
                background-color: rgb(202, 206, 214);
            }

            .line5 {
                width: 50px;
                height: 4px;
                margin-bottom: 5px;
                background-color: rgb(202, 206, 214);
            }
        }
    }

    #element1{
        animation: ele1-animation 5s ease-in-out infinite both;
    }
    #element2{
        animation: ele2-animation 5s ease-in-out infinite both;
    }
    #element3{
        animation: ele3-animation 5s ease-in-out infinite both;
    }

    @keyframes ele1-animation {
        0%, 100%{
            transform: translate3d(0,0,0);
        }

        33.3% {
            transform: translate3d(145px, 0 , -45px);
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.555);
        }

        66.6% {
            transform: translate3d(-145px, 0, -45px);
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.555);
        }
    }

    @keyframes ele2-animation {
        0%, 100%{
            transform: translate3d(145px,0,-45px);
        }

        33.3% {
            transform: translate3d(-145px, 0 , -45px);
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.555);
        }

        66.6% {
            transform: translate3d(0, 0, 0);
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.555);
        }
    }

    @keyframes ele3-animation {
        0%, 100%{
            transform: translate3d(-145px,0,-45px);
        }

        33.3% {
            transform: translate3d(0,0,0);
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.555);
        }

        66.6% {
            transform: translate3d(145px, 0, -45px);
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.555);
        }
    }

}


// 4 ------------------------------------------------

#fourth{
    background-color: #1a1f25;
}

.board{
    position: relative;
    width: 320px;
    height: 250px;
    background-color: grey;
    margin: 75px auto;

    input[type="radio"] {
        display: none;
    }

    .nav{
        position: absolute;
        width: 100%;
        height: 35px;
        background-color: rgb(44, 47, 56);  
    }

    .tab{
        position: relative;
        display:flex;
        justify-content: center;
        align-items: center;
        float: left;
        z-index: 5;
        width: 35px;
        height: 35px;
        text-align: center;
        cursor: pointer;
        line-height: 15px;
        font-size: 14px;
        transition: .5s ease-in-out;

        .fa{
            width: 15px;
            height: 15px;
            border: 2px solid grey;

            &:hover{
                border: 2px solid white;
            }
        }
    }
    // 获取指定的input类型
    // + 此类别的相邻下一个元素
    input[type="radio"]:checked + .tab{
        background: #5DA2ED;
    }

    .content{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 35px;
        background-color: white;

        .box {
            position: absolute;
            opacity: 0;
            transform: translateY(3px);
            pointer-events: none;
            padding: 25px;
            transition: all .3s ease-in;

            h1{
                font-weight: 400;
                font-size: 18px;
                color: #415868;
            }

            p{
                margin: 17px 0;

                span{
                    display: block;
                    height: 4px;
                    background: #E9E9E9;
                    margin: 6px 0;
                }

            }
        }
    }
}

#tab-1:checked ~ .content #box-1,
#tab-2:checked ~ .content #box-2,
#tab-3:checked ~ .content #box-3,
#tab-4:checked ~ .content #box-4 {
	pointer-events: all;
	opacity: 1;
	transform: translateY(0);
	transition: all .5s ease-out .4s;
}



// 5 ---------------------------------------------

.day5_container{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(31, 37, 53);

    .main-window{
        position: absolute;
        z-index: 2;
        width: 70%;
        height: 70%;
        border-radius: 4px;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: grey;
        transition: all 1s ease-in-out;
        box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.276);

        .main-window-header{
            display: flex;
            height: 60px;
            padding: 0 15px;
            background-color: rgb(90, 137, 255);
            align-items: center;
            justify-content: space-between;

            & > div{
                width: 32px;
                height: 30px;
                margin-left: 5px;
                position: relative;

                // 选择所有子集
                &:hover > div{
                    background-color: rgb(255, 255, 255);
                }

                .icon-cir{
                    position: relative;
                    z-index: 5;
                    top:5px;
                    left: 2px;
                    float: right;
                    width: 15px;
                    height: 15px;
                    background-color: rgb(189, 213, 255);
                    border-radius: 10px;
                    border: solid 3px rgb(90, 137, 255);

                    
                }

                .icon-line{
                    position: relative;
                    width: 100%;
                    height: 4px;
                    margin-top: 10px;
                    background-color: rgb(189, 213, 255);
                    border-radius: 1px;
                }
            }

            .main-window-header-title{
                color: white;
                margin-top: 5px;
                font-weight: normal;
            }

            .main-window-header-btn{
                margin-top: 5px;
                margin-right: 5px;
                width: 15px;
                height: 15px;
                border: solid 2px rgb(189, 213, 255);

                &:hover{
                    border: solid 2px rgb(255, 255, 255);
                }
            }
            
        }

        .main-window-body{
            background-color: white;
            height: 100%;
            display: flex;

            .body-timeline{
                height: 100%;
                width: 40px;
                border-right: solid 3px rgb(227, 231, 235);

                .timeline-points{
                    width: 12px;
                    height: 12px;
                    margin-top: 35px;
                    margin-bottom: 65px;
                    background-color: rgb(255, 255, 255);
                    border-radius: 10px;
                    margin-left: 40px;
                    transform: translate(-70%,0);
                    border: solid 2px rgb(140, 172, 255);
                    box-shadow: 0 0 0 3px white;
                }
            }

            .body-event{
                width: calc(100% - 40px);
                margin-top: 5px;
                padding: 0 10px;

                & > div{
                    margin-top: 15px;
                }

                & h5{
                    font-weight: normal;
                    color: #9db0bd;
                }
                
                & h4{
                    font-weight: normal;
                    color: #415868;
                }

            }
        }
    }

    .show-menu{
        transform: translate(0%,-50%);
    }

    .slider{
        position: absolute;
        display: flex;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 250px;
        height: 250px;
        background-color: rgb(104, 104, 222);
        border-radius: 3px;
        transition: all .5s ease-in-out;

        ul{
            list-style: none;
            color: rgb(209, 222, 235);
            li{
                margin: 20px -20px;

                &::before{
                    content: "：)";
                    margin-right: 10px;
                }
            }
        }
    }

    .move-left{
        box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.488);
        transform: translate(-70%, -50%);
    }
}


// Day 6 ---------------------------------------------

#sixth {
    position: relative;
    background-color: white;

    .center{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

.follow_out{
    height: 35px;
    margin-left: 10px;
    overflow: hidden;
    transform: translate(0, 0);
}

.follow_inner{
    animation: textRolling 8s ease-in-out infinite;
    
    p{
        font-size: 30px;
        font-weight: bold;
    }
}

@keyframes textRolling {
    0% , 20%{
        transform: translateY(0)
    }

    20% , 40%{
        transform: translateY(30px * -1.5)
    }

    40% , 60%{
        transform: translateY(30px * -3)
    }

    60% , 80%{
        transform: translateY(30px * -4.5)
    }

    100%{
        transform: translateY(30px * -6)
    }
}


// 7 --------------------------
#seventh{
    position: relative;
}

.btn-container{
    position: relative;
    top: 50%;
    left: 50%;

    // 此方法可以用lineheight与父级元素相等来垂直居中文字
    // 方法二：可以用position和transform来处理
    // 方法三：可以用padding处理

    div{
        position: absolute;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 80px;
        text-align: center;
        line-height: 80px;
        transition: .2s ease-in-out;
    }

    .front{
        z-index: 99;
        background-color: blue;
        color: rgb(245, 175, 245);
        top: 10px;
        left: 10px;
    }

    .back{
        z-index: 1;
        background-color: rgb(245, 175, 245);
        top: -10px;
        left: -10px;
    }

    &:hover > .front{
        background-color: rgb(245, 175, 245);
        color: white;
        top: -10px;
        left: -10px;
    }

    &:hover > .back{
        background-color: blue;
        top: 10px;
        left: 10px;
    }
}

//8 ----------------------------
#eighth {
    position: relative;
    background-color: white;
}

$size: 120px;
$colorN: rgba(0,0,0,.1);
$colorF: rgba(46,204,113,0.8);

.loader {
    width: $size;
    height: $size;
    transform-style: preserve-3d;
    transform: rotateX(-25deg) rotateY(45deg);
    transition: all .5s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: rotateX(-25deg) rotateY(45deg) translateY(-15px);
        
        .bottom {
            box-shadow: -22px -22px 30px 0 rgba(0,0,0,.4);
        }
        
    }

    .plane {
        position: absolute;
        width: $size;
        height: $size;
        top: 0;
        left: 0;
        background: $colorN;
    }

    .bottom {
        transform: rotateX(-90deg) translateZ($size/2);
        background: $colorF;
        box-shadow: -8px -8px 10px 0 rgba(0,0,0,.4);
        transition: all .5s ease-in-out;
    }

    .left {
        transform: rotateY(-90deg) translateZ($size/2);

        &:before {
            content: '';
            display: block;
            position: absolute; 
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $colorF;
            transform-origin: 50% 100%;
            animation: fill 4s ease-in-out infinite alternate;
        }

    }

    .right {
        transform: rotateY(90deg) translateZ($size/2);

        &:before {
            content: '';
            display: block;
            position: absolute; 
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $colorF;
            transform-origin: 50% 100%;
            animation: fill 4s ease-in-out infinite alternate;
        }
        
    }

    .back {
        transform: rotateY(180deg) translateZ($size/2);
        
        &:before {
            content: '';
            display: block;
            position: absolute; 
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $colorF;
            transform-origin: 50% 100%;
            animation: fill 4s ease-in-out infinite alternate;
        }
        
    }

    .front {
        transform: rotateY(0deg) translateZ($size/2);
        
        &:before {
            content: '';
            display: block;
            position: absolute; 
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $colorF;
            transform-origin: 50% 100%;
            animation: fill 4s ease-in-out infinite alternate;
        }
        
    }

    .top {
        transform: rotateX(90deg) translateZ($size/2);
        opacity: .5;
    }
    
    .fill-top {
        background: $colorF;
        animation: 
            fill-top 4s ease-in-out infinite alternate, 
    }

}

@keyframes fill {
    0%,25% {
        transform: scaleY(0);
    }
    75%, 100% {
        transform: scaleY(1);
    }
}

@keyframes color-bottom {
    0% {
        background: $colorN;
    }
    25%, 100% {
        background: $colorF;
    }
}

@keyframes color-top {
    0%,25% {
        background: $colorN;
    }
    75%, 100% {
        background: $colorF;
    }
}

@keyframes fill-top {
    0%,25% {
        transform: rotateX(90deg) translateZ($size / -2);
    }
    75%, 100% {
        transform: rotateX(90deg) translateZ(($size/2)-1);
    }
}